@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:wght@200..800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme{
  --font-poppins:"Poppins", sans-serif;
  --color-dark-mainBackground: #1B2431;
  --color-dark-mainText: #FFFFFF;
  --color-dark-heroDescription: #FFFFFF
}


@custom-variant dark (&:where(.dark, .dark *));